/* tailwind-ignore */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --text-color: #272e34;
   --text-bland: rgba(23, 26, 39, 0.63);

   --foreground-rgb: 0, 0, 0;
   --background-start-rgb: 214, 219, 220;
   --background-end-rgb: 255, 255, 255;

   --border-color: rgba(22, 24, 35, 0.13);
   --box-shadow-color: rgba(23, 26, 39, 0.26);
   --hover-item-color: rgba(23, 26, 39, 0.06);

   --facebook-color: #0866ff;
}

@media (prefers-color-scheme: dark) {
   :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
   }
}

body {
   color: var(--text-color);
   background: var(--foreground-rgb);
}

@layer utilities {
   .text-balance {
      text-wrap: balance;
   }
}
